[{"capacity":50,"className":"aaa","endDate":{"day":3,"month":12,"year":2022},"requirement":"math","startDate":{"day":25,"month":12,"year":2021}},{"capacity":50,"className":"bbb","endDate":{"day":3,"month":12,"year":2022},"requirement":"french","startDate":{"day":25,"month":12,"year":2021}},{"capacity":50,"className":"ccc","endDate":{"day":3,"month":12,"year":2022},"requirement":"computer","startDate":{"day":25,"month":12,"year":2021}}]